[submodule "src/github.com/andybalholm/brotli"]
	path = src/github.com/andybalholm/brotli
	url = https://github.com/andybalholm/brotli

[submodule "src/github.com/klauspost/compress"]
	path = src/github.com/klauspost/compress
	url = https://github.com/klauspost/compress

[submodule "src/github.com/valyala/bytebufferpool"]
	path = src/github.com/valyala/bytebufferpool
	url = https://github.com/valyala/bytebufferpool

[submodule "src/github.com/valyala/fasthttp"]
	path = src/github.com/valyala/fasthttp
	url = https://github.com/valyala/fasthttp